.serv_local {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    position: absolute;
}

.img_serv {
    width: 400px;
    height: auto;
    padding-right: 100px;
    padding-left: 700px;
    display: flex;
    position: absolute;
}

.local {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 700px;
    flex-basis: 50%;
}

.img_local {
    width: 600px;
    height: auto;
    position: absolute;
    display: flex;
    padding-left: 300px;
    margin: 0%;
    margin-top: 500px;
    z-index: 1;
}


@media only screen and (max-width: 768px) {
    .serv_local {
        flex-direction: column; 
        align-items: center;
        padding: 0px; 
    }
    
    .img_serv {
        position: static;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0px; 
    }
    
    .local {
        margin-top: 20px;
    }
    
    .img_local {
        position: static; 
        padding-left: 0; 
        margin-top: 20px; 
        max-width: 100%;;
    }
}